:root {
    --dark-green: #8D8741;
    --blue: #659DBD;
    --tan: #DAAD86;
    --brown: #BC986A;
    --almond: #FBEEC1;
}

body {
    font-family: sans-serif;
    background-color: var(--almond);
}
header {
    width: 100%;
    font-size: 2rem;
    background-color: var(--blue);
    
}

h1 {
    font-size: 10rem;    
    margin-top: 10px;
    padding-top:20px;
    padding-left: 20px;
    color: var(--brown);
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.container img {
   padding: 10px 10px;
}

nav {
    position: relative;
    background-color: var(--tan);
    overflow: hidden;
}

nav li {
    display:inline; 
    margin: 2% 0;
    padding: 1% 0;
    text-align: right;
}
  
 nav a {
    color: #f2f2f2;
    padding: 14px 16px;
    font-size: 1.5rem;
    
}
    
 nav a:hover {
    background-color: #ddd;
    color: black;
}


.content {
    background-color: var(--dark-green);
    font-size: 1.25rem;
    color: var(--almond);
}

.about-me {
    padding-top: 30px;
    
}

section h2 {
    font-size: 30px;
    color: var(--dark-green);
    padding-left: 30px;
}

p {
    font-size: 2rem;
    color: var(--blue);
    padding-left: 30px;
    padding-top: 10px;
}


.work {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.p1 {
    padding-top: 100px;
}

.p1 img {
    width: 70%;
    height: 500px;
    margin-left: 35px;
    margin-top: 15px;
    border: 2px solid var(--dark-green);
}

.p1 p {
    display: flex;
    position: absolute;
    font-size: 2rem;
    background-color: var(--brown);
    color: var(--almond);
    margin-left: 45px;
    margin-top: -50px;
}

.work img {
    margin: 10px 30px;
    border: 2px solid var(--dark-green);

}

.text-contact a {
    text-decoration: none;
    font-size: 2rem;
    justify-content: space-evenly;
    padding: 10px 10px;
}

.text-contact a:hover {
    color: var(--blue);
}


@media screen and (max-width: 480px) {
    body {
        background-color: var(--blue);
    }

    header {
        background-color: var(--tan);
    }

    p {
        font-size: 1.5rem;
        color: var(--tan);
    }

    .work img {
        width: 100%;
        margin-top: 10px;
    }

    .p1 img {
        height: 300px;
        width: 90%;
    }

    .p1 p {
        font-size: 1rem;
    }

    header img {
        display: none;
    }

    h1 {
        font-size: 5rem;
        color: var(--almond);
        position: relative;
        margin-left: 150px;
    }

  section h2 {
      color: var(--almond);
  }
}