/*Friday*/
:root {
    --lightblue: #4484CE;
    --almond: #d9d9d9;
    --red-orange: #ff6e40;
    --mango: #F19F4D;
    --light: #F9CFC0;
        
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--almond);
}


.header {
    padding: 2%;
    width: 100%;
    background-color: var(--lightblue);
    color: var(--mango);
}

h1 {
    font-size: 5rem;
    position:inherit;
    margin-top: -20px;
    margin-left: 2px;
    
}


.header p {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-left: 10px;
    
}
.nav {
    width: 100%;
    
}

.nav ul {
    font-size: 3.5rem;
    padding-right: 20px;
      margin-top: -70px;
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float:right;
    
}

.nav li {
        width: 33%;
        word-spacing: 100px;
    align-items: center;
    
}

a {
    flex-wrap: wrap;
    color: var(--mango);
   
}

a:hover {
    color: var(--red-orange);
}

.logo {
    float: right;
    margin-top: -98px;
    margin-right: 25px;
    max-height: 125px;
    border: 2px solid var(--mango);
}

.wrapper {
    display: flex;
    width: 100%;
}

.left {
    height: 100vh;
    width:25%;
    border-right: 3px solid var(--lightblue);
}

.right {
    width: 70%;
}

.wrapper h2 {
    font-size: 6.5rem;
    color: var(--lightblue);
}

#about-me h2{
    padding-top: 100px;
    padding-left: 390px;
    position: relative;
}

#work h2 {
    padding-top: 500px;
    padding-left: 420px;
    position: absolute;
}

#contact-me {
    margin-top: 1200px;
    padding-left: 222px;
    position: absolute;
}

.right {
    font-size: 20px;
    color: var(--lightblue);
}


.text-about {
    font-size: 3.5rem;
    display: flex;
    flex-wrap: wrap;
     padding-top: 100px;
    padding-left: 55px;
}

.container {
    position: relative;
}

.landing-page {
    position: relative;
    padding-top: 100px;
    padding-left: 50px;
    width: 100%; 
}
    

.bottom-left h3 {
    font-size: 5rem;
    position: absolute;
    color: var(--mango);
    background-color: var(--almond);
    border: 1px solid var(--mango);
    height: 50px;
    justify-content: center;
    left: 65px;
    bottom: 10px;
}
